<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh; margin-bottom: 60px;">
  <mat-card style="width: 100%; max-width: 500px; padding: 20px;">
    
    <!-- Title and Button in one row -->
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <mat-card-title>Edit Employee Form</mat-card-title>
      <button mat-raised-button color="accent" type="button" (click)="goToActiveEmployeeList()">
        View Active Employees
      </button>
    </div>

    <mat-card-content>
<form [formGroup]="editEmployeeForm" style="width: 100%;">
 <div class="form-grid">
        <!-- Name -->
        <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px;">
          <mat-label>Name</mat-label>
          <input readonly formControlName="name" matInput required />
           <mat-error *ngIf="editEmployeeForm.get('name')?.hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px;">
          <mat-label>Email</mat-label>
          <input readonly formControlName="email" matInput type="email"  required />
            <mat-error *ngIf="editEmployeeForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>

        <mat-error
          *ngIf="editEmployeeForm.get('email')?.hasError('email')  && !editEmployeeForm.get('email')?.hasError('required')">
          Please enter a valid email address
        </mat-error>
        </mat-form-field>

        <!-- Address -->
        <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px;">
          <mat-label>Address</mat-label>
          <input formControlName="address" matInput required />
          <mat-error *ngIf="editEmployeeForm.get('address')?.hasError('required')">
          address is required
        </mat-error>
        </mat-form-field>

        <!-- Contact No -->
        <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px;">
          <mat-label>Contact No</mat-label>
          <input formControlName="phone" matInput  type="tel" required />
           <mat-error *ngIf="editEmployeeForm.get('phone')?.hasError('required')">
          phone is required
        </mat-error>
          <mat-error *ngIf="editEmployeeForm.get('phone')?.hasError('pattern')">
          Enter valid phone number (e.g. +923001234567)
        </mat-error>
        </mat-form-field>


        <!-- Status Select -->
        <mat-form-field>
        <mat-label>designation</mat-label>
        <mat-select formControlName="designName">
          <mat-option *ngFor="let design of des" [value]="design.designName">{{design.designName}}</mat-option>
          <mat-option *ngIf="des.length === 0" disabled>
            No record found
          </mat-option>
        </mat-select>
           <mat-error *ngIf="editEmployeeForm.get('designName')?.hasError('required')">
          Designation is required
        </mat-error>
      </mat-form-field>

    <mat-form-field>
        <mat-label>department</mat-label>
        <mat-select formControlName="department">
          <mat-option *ngFor="let depart of dep" [value]="depart.name">{{depart.name}}</mat-option>
          <mat-option *ngIf="dep.length === 0" disabled>
            No record found
          </mat-option>
        </mat-select>
          <mat-error *ngIf="editEmployeeForm.get('department')?.hasError('required')">
          Department is required
        </mat-error>
      </mat-form-field>

      
        </div>
         <mat-form-field style="width: 100%;">
          <mat-label>role</mat-label>
          <mat-select formControlName="role">
            <mat-option  *ngFor="let roles of role" [value]="roles.role">{{roles.name}}</mat-option>
            <mat-option *ngIf="role.length === 0" disabled>
              No record found
            </mat-option>
          </mat-select>
      </mat-form-field>
           <!-- Join Date -->
        <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px;">
          <mat-label>Join Date</mat-label>
          <input readonly formControlName="joiningDate" matInput  type="date"  required />
            <mat-error *ngIf="editEmployeeForm.get('joiningDate')?.hasError('required')">
          joining Date is required
        </mat-error>
        </mat-form-field>

         <!-- Description -->
        <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px;">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput></textarea>
        </mat-form-field>

        <section class="example-section">
            <mat-checkbox formControlName="active" class="example-margin">Status</mat-checkbox>
            <mat-checkbox formControlName="is_admin" class="example-margin">Admin</mat-checkbox>
        </section>

        <!-- Submit Button -->
        <div style="display: flex; justify-content: center; gap: 10px; margin-top: 16px;">
          <button (click)="onSubmit()" [disabled]="editEmployeeForm.disabled"  mat-raised-button color="primary" type="submit">
            Update
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
