<!--component html goes here -->

<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh; margin-bottom: 60px;">
  <mat-card style="width: 100%; max-width: 500px; padding: 20px;">
    
    <!-- Title and Button -->
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <mat-card-title>Client Form</mat-card-title>
      <button mat-raised-button color="accent" type="button" (click)="goToExistClientList()">
        <mat-icon>group</mat-icon>
        View Exist Clients
      </button>
    </div>

    <mat-card-content>
      <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" style="width: 100%;">

        <!-- Name -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Client Name</mat-label>
          <input matInput formControlName="name" [disabled]="editMode">
          <mat-error *ngIf="clientForm.get('name')?.touched && clientForm.get('name')?.invalid">
            Name is required
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email"[disabled]="editMode">
          <mat-error *ngIf="clientForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>

          <mat-error
            *ngIf="clientForm.get('email')?.hasError('email') &&!clientForm.get('email')?.hasError('required')">
            Enter a valid email
          </mat-error>

          <mat-error *ngIf="clientForm.get('email')?.hasError('duplicate')">
            Email already exists
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field *ngIf="!editMode" appearance="fill" style="width: 100%;">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="clientForm.get('password')?.touched && clientForm.get('password')?.invalid">
            Password must be at least 6 characters
          </mat-error>
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field *ngIf="!editMode" appearance="fill" style="width: 100%;">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPass">
          <mat-error *ngIf="clientForm.get('confirmPass')?.hasError('passwordMismatch')">
            Password and Confirm Password do not match
          </mat-error>
        </mat-form-field>

        <!-- Address -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address">
        </mat-form-field>

        <!-- Contact No -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Contact No</mat-label>
          <input matInput type="tel" formControlName="phone" (keyup)="onPhoneInput()" placeholder="3XXXXXXXXX">

          <mat-error *ngIf="clientForm.get('contactNo')?.touched && clientForm.get('contactNo')?.invalid">
            Enter a valid contact number
          </mat-error>
        </mat-form-field>

        <!-- Status -->
        <mat-form-field *ngIf="editMode" appearance="fill" style="width: 100%;">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="Exist">Exist</mat-option>
            <mat-option value="nonExist">Non Exist</mat-option>
          </mat-select>
          <mat-error *ngIf="clientForm.get('status')?.touched && clientForm.get('status')?.invalid">
            Status is required
          </mat-error>
        </mat-form-field>

        <!-- Start Time -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Start Time</mat-label>
          <input matInput type="time" formControlName="startTime">
        </mat-form-field>

        <!-- End Time -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>End Time</mat-label>
          <input matInput type="time" formControlName="endTime">
        </mat-form-field>

        <!-- Description -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <!-- Submit Button -->
        <div style="display: flex; justify-content: center; margin-top: 16px;">
          <button mat-raised-button color="primary" type="submit">
            <mat-icon>save</mat-icon>
            Submit
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
