<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 60px;">

<mat-card class="example-card" appearance="outlined" style="width: 100%; max-width: 500px; padding: 20px;">


  <mat-card-content>
   <h2> <strong>Id: </strong>  {{viewEmp._id}}</h2>
    <p><strong>Name: </strong> {{viewEmp.name}}</p>
    <p><strong>Email: </strong> {{viewEmp.email}}</p>
    <p>
     <strong>Description: </strong> {{viewEmp.description}}
    </p>

     <p>
     <strong>Designation: </strong> {{viewEmp.designName}}
    </p>

     <p>
     <strong>Department: </strong> {{viewEmp.department}}
    </p>
  </mat-card-content>
  
</mat-card>
</div>
